<section class="phx-hero">

  <form phx-change= phx-submit="send">
    <input type="text" name="q" placeholder="message " autocomplete="off"/>
    <button type="submit" phx-disable-with="Searching...">Go to Hexdocs</button>
  </form>
